* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul li {
    display: inline-block;
    line-height: 65px;
    margin-left: 30px;
}

ul li:first-child {
    margin-left: 0;
}

a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #5f6368;
}

h3, p {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, .7);
}

p {
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 24px;
    font-weight: 300;
}

.general-wrapper-header {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.container {
    width: 98%;
    margin: 0 auto;
}

.logo {
    margin-top: 30px;
}

.mail {
    float: right;
    margin: 45px 15px 0 0;
}

.mail img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
}

.mail span {
    font-size: 14px;
}

header {
    padding: 0px 20px;
    height: 80px;
}

header img {
    width: 75px;
    vertical-align: bottom;
}

header span {
    font-size: 20px;
    margin-left: 10px;
    color: #5f6368;
}

.wrapper-text {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.active {
    border-bottom: 3px solid #3367d6;
    color: #3367d6;
    padding-bottom: 12px;
}

